<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(title)">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="${title}"></title>

		<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<nav th:fragment="navbar" class="navbar navbar-dark bg-dark justify-content-between navbar-expand-sm">
			<a class="navbar-brand" href="#">Reducto</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="#">Browse</a>
					<a class="nav-item nav-link" href="#">Place a lot</a>
				</div>
				<hr>
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link active" href="#">Login</a>
					<span class="navbar-text">or</span>
					<a class="nav-item nav-link active" href="#">Register</a>
				</div>
			</div>
		</nav>
		<div th:fragment="card" class="card mt-2" style="box-shadow: 3px 3px 5px LightGrey; height: 150px">
			<div class="row no-gutters">
				<div class="col-4" style="max-height:150px">
					<a href="#">
						<img src="https://via.placeholder.com/300x200" class="card-img h-100" style="object-fit: cover">
					</a>
				</div>
				<div class="col-8">
					<div class="card-body">
						<h5 class="card-title"><a href="#" class="text-dark">Card title</a></h5>
						<p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<h4><span class="badge badge-primary">100 p.</span></h4>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="scripts">
			<script src="/js/jquery-3.2.1.slim.min.js"></script>
			<script src="/js/popper.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/dist/jquery.inputmask.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$(":input").inputmask();
				});
			</script>
		</div>
	</body>
</html>