<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Taco Cloud</title>
    </head>
    <body>
        <h1>Welcome to...</h1>
        <p th:text="${message}"></p>

        <div sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name">Bob</span>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>

        <ul th:each="user : ${users}">
            <li>
                <p th:text="${'ID: ' + user.id}"></p>
                <p th:text="${'USERNAME: ' + user.username}"></p>
                <p th:text="${'FIRST NAME: ' + user.firstName}"></p>
                <p th:text="${'LAST NAME: ' + user.lastName}"></p>
                <p th:text="${'EMAIL: ' + user.email}"></p>
                <br>
            </li>
        </ul>
    </body>
</html>